<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
hello
<a href="patientmaster">patientmaster</a>
<a href="responsedetails">responsedetails</a>
<a href="responsemaster">responsemaster</a>

</body>
</html>