<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<form action="/user/patientmaster" method="post">
<label>
    Patient date
</label>
<input type="number" id="patient_id">
<label>
    prescription date
</label>
<input type="number" id="presc_date" name="">
<button type="submit">Submit</button>
</form>
</body>
</html>