<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<label>
    response id
</label>
<input type="number" id="response_id">
<label>
    patient id
</label>
<input type="number" id="patient_id">
<label>
    created on
</label>
<input type="number" id="created_on">

</body>
</html>