<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<label>
    response id
</label>
<input id="response_id" type="number">
<label>
    Response Text
</label>
<input type="text" id="response_text">

</body>
</html>